.sidebar {
  flex: 0.15;
  height: 90vh;
  padding: 0 10px;
  background-color: #040404;
  min-width: 230px;
  color: white;
}

.sidebar__logo {
  height: 70px;
  margin-left: 10px;
  margin-top: 10px;
}
.sidebar__credits {
  margin-left: 10px;

  margin-bottom: 20px;
  font-size: 16px;
  color: #525252;
}

.sidebar__title {
  margin-left: 10px;
  padding: 5px;
  font-size: 12px;
}
